.playerinfo {
    background: #fadfad;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.playerinfo div {
    display: flex;
}

.playerinfo div div {
    flex: 1;
    text-align: center;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2em;
}

.careerstats, .singleseasonstats {
    margin-bottom: 1.5em;
}